@import 'styles/default.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__timer {
    margin-top: 30px;
  }
}

@media screen and (max-width: $siteWidthMobile) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__timer {
      margin-top: 20px;
    }
  }
}
