@import 'styles/colors.scss';
@import 'styles/default.scss';

.root {
  margin-bottom: 10vw;
  box-sizing: border-box;
  position: relative;
  border-radius: 2vw;
  background-color: $page_bg;
  background-size: cover;

  &__inner {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 5vw;
    box-shadow: 2px 2px 15px 8px rgba(65, 150, 84, 0.15);
    background-color: rgba(0, 0, 0, 0.05);
  }
}
