@import 'styles/colors.scss';
@import 'styles/default.scss';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2vh);
  box-sizing: border-box;

  &__title {
    width: 100%;
    font-size: 60px;
    letter-spacing: 2px;
    color: $text_color;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    padding: 100px 0;
    margin: 0 -5vw;
    background: linear-gradient(
      0deg,
      rgba(185, 200, 180, 0.4) 0%,
      rgba(190, 200, 190, 0.5) 35%,
      rgba(185, 200, 180, 0.4) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__rings {
    padding: 0 8px;
    box-sizing: border-box;
    width: 150px;
    margin-top: 50px;

    img {
      filter: grayscale(0.35);
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: $siteWidthMobile) {
  .root {
    &__title {
      font-size: 8vw;
      padding-bottom: 14vw;

      .ampersand {
        font-size: 6vw;
        margin-top: 10vw;
        margin-bottom: 4vw;
      }
    }

    &__rings {
      padding: 0 8px;
      width: 100px;
      margin-top: 30px;
    }
  }
}
