@font-face {
  font-family: 'miama_nueva';
  src: url('fonts/MiamaNueva.ttf') format('opentype');
}

body {
  font-family: 'miama_nueva', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
